.background-animate {


    -webkit-animation: blackgroundAnimate 3s ease infinite;
    -moz-animation: blackgroundAnimate 3s ease infinite;
    animation: blackgroundAnimate 3s ease infinite;
  }

  @keyframes blackgroundAnimate {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }