#bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    background: #52467b;
   
    height: 30px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    transform-origin: center;
    animation: sound 2s ease-in-out infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 0px; 
    }
    100% {
        opacity: 1;       
        height: 60px;        
    }
}

